
# Turn on logging, and set ZMK logging to debug output
# CONFIG_ZMK_USB_LOGGING=y
#

# board
CONFIG_SOC_SERIES_NRF52X=y
CONFIG_SOC_NRF52840_QIAA=y
CONFIG_GPIO=y
CONFIG_PINCTRL=y
CONFIG_USE_DT_CODE_PARTITION=y
CONFIG_NRFX_GPIOTE_NUM_OF_EVT_HANDLERS=1
CONFIG_ARM_MPU=y
CONFIG_CLOCK_CONTROL_NRF_K32SRC_30PPM=y
CONFIG_ENTROPY_NRF5_THR_THRESHOLD=4
CONFIG_ENTROPY_NRF5_ISR_THRESHOLD=12
CONFIG_CLOCK_CONTROL_NRF_K32SRC_XTAL=y
CONFIG_CLOCK_CONTROL_NRF_K32SRC_30PPM=y

# transports 
CONFIG_ZMK_USB=y
CONFIG_ZMK_BLE=y

# stack sizes 
CONFIG_SYSTEM_WORKQUEUE_STACK_SIZE=8192
CONFIG_ZMK_BLE_THREAD_STACK_SIZE=8192
CONFIG_LOG_PROCESS_THREAD_STACK_SIZE=8192
CONFIG_ZMK_SPLIT_BLE_CENTRAL_SPLIT_RUN_STACK_SIZE=8192

# zmk
CONFIG_ZMK_SPLIT_ROLE_CENTRAL=y
CONFIG_ZMK_SLEEP=y

# logging
CONFIG_ZMK_USB_LOGGING=y
CONFIG_ZMK_LOG_LEVEL_DBG=y
CONFIG_SEGGER_RTT_BUFFER_SIZE_UP=8192
CONFIG_LOG_BUFFER_SIZE=65536
CONFIG_USE_SEGGER_RTT=y
CONFIG_CONSOLE_INIT_PRIORITY=40
CONFIG_RTT_CONSOLE=y

# flash
CONFIG_FLASH=y
CONFIG_NVS=y
CONFIG_SETTINGS_NVS_NAME_CACHE=y
CONFIG_FLASH_MAP=y
CONFIG_BUILD_OUTPUT_UF2=y

# debug
CONFIG_DEBUG=n
CONFIG_ASSERT=n
