#
# Copyright (c) 2022 Darryl deHaan
# SPDX-License-Identifier: MIT
#

config BOARD_CUSTOM_WIRELESS_LEFT
    bool "corneish zen left v1"
    depends on SOC_NRF52840_QIAA

config BOARD_CUSTOM_WIRELESS_RIGHT
    bool "corneish zen right v1"
    depends on SOC_NRF52840_QIAA
